<%- include('includes/header.ejs')%>
</head>

<body>
    <% if (data["results"].length <= 0){  %>
    <h2 id="searchHeading" class="text-center">Search Result <span style="color: grey;">>> </span> 
    
        <span>Sorry! your "<%= searchQuery.toUpperCase() %>" not matched with our movie lists.</span>
    <br><br>  <a href="/" class="btn btn-success">Back To Home </a>    
    </h2>        
        <% } else { %>  
   <h2 id="searchHeading" class="text-center">Search Result <span style="color: grey;">>> </span> <%= searchQuery.toUpperCase() %></h2>
    <% data["results"].forEach((movie)=> { %>
    <div class="card mb-5 w-75">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=movie["poster_path"] %>" class="card-img img-fluid">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title"><%= movie["original_title"] %></h2>
                    <hr>
                    <p class="card-text"><%= movie["overview"] %></p>
                    <hr>
                    <br>
                    <p class="card-text"><b>Date Published:</b> <%= movie["release_date"] %> </p>
                    <p class="card-text"><b>Total Votes:</b> <%= movie["vote_count"] %> </p>
                    <p class="card-text"><b>Average Rating:</b> <%= movie["vote_average"] %> </p>
                </div>
            </div>

        </div>
    </div>
<% }) %>
<% } %> 
<%- include('includes/footer.ejs')%>